
<div class="container">
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th width="15%">id</th>
      <th width="20%">name</th>
      <th width="10%">操作</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |r| %>
      <tr>
        <td><%= r.id %></td>
        <td><%= r.user_name %></td>
        <td>
          <div class="nowrap">
            <%= link_to '修改', '' %>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
